.page-header {
  margin: 20px 14px;
}

.search-card {
  margin: 20px 14px;
  padding: 10px;
  height: calc(100vh - 97.5px);
  background-color: white;
  overflow-y: auto;
}

.no-results {
  padding-left: 16px;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);

  > * {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
